<script type="application/javascript" id="current_user_id">
   var CURRENT_USER_ID = <%= current_user.id %>;

   $(document).ready(function(){
       PT.initialize();
   });
</script>

<div id="content"></div>